.customer-cont {
    text-align: center;
    margin-top: 50px;
    padding: 25px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customer-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.customer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.customer-link {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.customer-link:hover {
    background-color: #0056b3;
}