/* AdminUser.css */

.admin-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two columns with equal width */
    gap: 20px;
    /* Space between boxes */
    padding: 20px;
    width: 30%;
    /* Ensure the container spans the full width */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

h5{
    text-align: center;
    color:rgb(50, 53, 204);
    font-size: 33px;
}


.add-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    /* Adjust the height as needed */
    background-color:#f0f0f0;
    /* Light grey background */
    text-decoration: none;
    color: #000;
    /* Black text color */
    font-size: 18px;
    /* Font size */
    font-weight: bold;
    border: 2px solid #ccc;
    /* Border around each box */
    border-radius: 10px;
    /* Rounded corners */
    transition: background-color 0.3s ease;
    /* Transition for hover effect */
    width: 100%;
    /* Ensure each link fills the grid cell */
    box-sizing: border-box;
    /* Include padding and border in the element's total width and height */
}

.add-link:hover {
    background-color: #e0e0e0;
    /* Slightly darker grey on hover */
}